*{
    margin:0;
    padding:0;
}

main{
    background-color:rgb(219, 161, 252);
    padding:40px;
    color:white;
    margin-bottom:8%;
    z-index:300;
}

nav{
    z-index:300;
}

ul{
    list-style:none;
    display:flex;
    margin: 0% 21%;
}

a{
    text-decoration:none;
    background-color:rgb(255, 196, 250);
    padding:20px;
    color:rgb(131, 40, 131);
    font-size:30px;
    margin-right:20px;
    border-radius:25px;
    z-index:300;
}

a:hover{
    background-color:rgb(131, 40, 131);
    color:rgb(255, 196, 250);
}

h1{
    font-size:50px;
    font-family: 'Chakra Petch', sans-serif;

}

section{
    z-index:-3000;
}